<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      
       <!--
      StatsInfo.AlwaysOpen - Stats Quick Info Panel Set Expanded or Closed By Default
      -->
      <setting name="StatsInfo.AlwaysOpen" value="true"/>
      
    </settings>
    <pipelines>
      <renderContentEditor>
        <processor patch:before="*[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderSkinedContentEditor, Sitecore.Client']" 
                   type="JWS.Fields.Library.Classes.QuickInfoStatistics, JWS.Fields.Library" />
      </renderContentEditor>
    </pipelines>
  </sitecore>
</configuration>